<h2> Events</h2>
<div class="flex-container">

    <div> Start Date: <input class="f-date" type="datetime-local" id="startDate" name="startDate" [(ngModel)]="startDate"></div>
    <div> End Date: <input class="f-date" type="datetime-local" id="endDate" name="endDate" [(ngModel)]="endDate"></div>
    <div> <input class="f-button" type="button" value="Filter" (click)="filter()"></div>
</div>
<div class="row">
    <app-events-grid [events]="events" [detailCallback]="this" [loadMoreCallback]="this"></app-events-grid>
</div>

<div class="error-message">
    {{errorMessage}}
</div>